<div class="py-4">
  <div class="flex rounded-full w-full">
    <ul class="grid grid-cols-3 lg:flex items-center gap-10">
      <ng-content></ng-content>
      @if (showCategories) {
      <li>
        <div class="border-2 p-2 rounded-full relative group">
          <span
            class="font-semibold capitalize flex items-center justify-center gap-2 cursor-pointer"
          >
            categories
            <i
              class="fa-solid fa-circle-chevron-down transform transition-transform duration-300 group-hover:rotate-180"
            ></i>
          </span>
          <div
            class="absolute z-10 left-0 mt-2 w-max bg-white invisible group-hover:visible transition-all duration-300 opacity-0 group-hover:opacity-100"
          >
            <ul class="flex flex-col shadow-lg rounded-lg p-4">
              <li
                id="category"
                class="p-2 cursor-pointer hover:text-orange-500 transition-colors font-bold flex items-center gap-2"
                (click)="toggleFilter($event, 'category')"
              >
                <i class="fas fa-sun"></i> Breakfast
              </li>
              <li
                id="category"
                class="p-2 cursor-pointer hover:text-yellow-500 transition-colors font-bold flex items-center gap-2"
                (click)="toggleFilter($event, 'category')"
              >
                <i class="fas fa-hamburger"></i> Lunch
              </li>
              <li
                id="category"
                class="p-2 cursor-pointer hover:text-blue-500 transition-colors font-bold flex items-center gap-2"
                (click)="toggleFilter($event, 'category')"
              >
                <i class="fas fa-moon"></i> Dinner
              </li>
              <li
                id="category"
                class="p-2 cursor-pointer hover:text-red-500 transition-colors font-bold flex items-center gap-2"
                (click)="toggleFilter($event, 'category')"
              >
                <i class="fas fa-utensils"></i> Soups & Stews
              </li>
              <li
                id="category"
                class="p-2 cursor-pointer hover:text-green-500 transition-colors font-bold flex items-center gap-2"
                (click)="toggleFilter($event, 'category')"
              >
                <i class="fas fa-leaf"></i> Salads
              </li>
              <li
                id="category"
                class="p-2 cursor-pointer hover:text-pink-500 transition-colors font-bold flex items-center gap-2"
                (click)="toggleFilter($event, 'category')"
              >
                <i class="fas fa-birthday-cake"></i> Desserts
              </li>
              <li
                id="category"
                class="p-2 cursor-pointer hover:text-green-600 transition-colors font-bold flex items-center gap-2"
                (click)="toggleFilter($event, 'category')"
              >
                <i class="fas fa-seedling"></i> Vegan
              </li>
            </ul>
          </div>
        </div>
      </li>
      } @if (showRating) {
      <li>
        <div class="border-2 rounded-full p-2 relative group">
          <span
            class="font-semibold capitalize flex items-center justify-center gap-2 cursor-pointer"
          >
            rating
            <i
              class="fa-solid fa-circle-chevron-down transform transition-transform duration-300 group-hover:rotate-180"
            ></i>
          </span>
          <div
            class="absolute z-10 left-0 mt-2 w-max bg-white invisible group-hover:visible transition-all duration-300 opacity-0 group-hover:opacity-100"
          >
            <ul class="flex flex-col shadow-lg rounded-lg p-4">
              <li
                class="p-2 cursor-pointer hover:text-yellow-500 transition-colors font-bold flex items-center"
              >
                <span class="w-20">5 Stars</span>
                <span class="flex">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </span>
              </li>
              <li
                class="p-2 cursor-pointer hover:text-yellow-500 transition-colors font-bold flex items-center"
              >
                <span class="w-20">4 Stars</span>
                <span class="flex">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </span>
              </li>
              <li
                class="p-2 cursor-pointer hover:text-yellow-500 transition-colors font-bold flex items-center"
              >
                <span class="w-20">3 Stars</span>
                <span class="flex">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </span>
              </li>
              <li
                class="p-2 cursor-pointer hover:text-yellow-500 transition-colors font-bold flex items-center"
              >
                <span class="w-20">2 Stars</span>
                <span class="flex">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </span>
              </li>
              <li
                class="p-2 cursor-pointer hover:text-yellow-500 transition-colors font-bold flex items-center"
              >
                <span class="w-20">1 Star</span>
                <span class="flex">
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </li>
      } @if (showLikes) {
      <li>
        <div class="border-2 p-2 rounded-full relative group">
          <span
            class="font-semibold capitalize flex items-center justify-center gap-2 cursor-pointer"
          >
            likes
            <i
              class="fa-solid fa-circle-chevron-down transform transition-transform duration-300 group-hover:rotate-180"
            ></i>
          </span>
          <div
            class="absolute z-10 left-0 mt-2 w-max bg-white invisible group-hover:visible transition-all duration-300 opacity-0 group-hover:opacity-100"
          >
            <ul class="flex flex-col shadow-lg rounded-lg p-4">
              <li
                class="p-2 cursor-pointer hover:text-blue-500 transition-colors font-bold flex items-center gap-2"
              >
                <i class="fas fa-thumbs-up"></i> Most Liked
              </li>
              <li
                class="p-2 cursor-pointer hover:text-blue-500 transition-colors font-bold flex items-center gap-2"
              >
                <i class="fas fa-thumbs-down"></i> Least Liked
              </li>
              <li
                class="p-2 cursor-pointer hover:text-blue-500 transition-colors font-bold flex items-center gap-2"
              >
                <i class="fas fa-fire"></i> Trending
              </li>
              <li
                class="p-2 cursor-pointer hover:text-blue-500 transition-colors font-bold flex items-center gap-2"
              >
                <i class="fas fa-clock"></i> Newest
              </li>
              <li
                class="p-2 cursor-pointer hover:text-blue-500 transition-colors font-bold flex items-center gap-2"
              >
                <i class="fas fa-history"></i> Oldest
              </li>
            </ul>
          </div>
        </div>
      </li>
      } @if (showDifficulty) {
      <li>
        <div class="border-2 p-2 rounded-full relative group">
          <span
            class="font-semibold capitalize flex items-center justify-center gap-2 cursor-pointer"
          >
            difficulty
            <i
              class="fa-solid fa-circle-chevron-down transform transition-transform duration-300 group-hover:rotate-180"
            ></i>
          </span>
          <div
            class="absolute z-10 left-0 mt-2 w-max bg-white invisible group-hover:visible transition-all duration-300 opacity-0 group-hover:opacity-100"
          >
            <ul class="flex flex-col shadow-lg rounded-lg p-4">
              <li
                class="p-2 cursor-pointer hover:text-green-500 transition-colors font-bold flex items-center gap-2"
                (click)="toggleFilter($event, 'difficulty')"
              >
                <i class="fas fa-smile"></i> Easy
              </li>
              <li
                class="p-2 cursor-pointer hover:text-yellow-500 transition-colors font-bold flex items-center gap-2"
                (click)="toggleFilter($event, 'difficulty')"
              >
                <i class="fas fa-meh"></i> Intermediate
              </li>
              <li
                class="p-2 cursor-pointer hover:text-red-500 transition-colors font-bold flex items-center gap-2"
                (click)="toggleFilter($event, 'difficulty')"
              >
                <i class="fas fa-frown"></i> Advanced
              </li>
            </ul>
          </div>
        </div>
      </li>
      } @if (showTime) {
      <li>
        <div class="border-2 p-2 rounded-full relative group">
          <span
            class="font-semibold capitalize flex items-center justify-center gap-2 cursor-pointer"
          >
            Time
            <i
              class="fa-solid fa-circle-chevron-down transform transition-transform duration-300 group-hover:rotate-180"
            ></i>
          </span>
          <div
            class="absolute z-10 left-0 mt-2 w-max bg-white invisible group-hover:visible transition-all duration-300 opacity-0 group-hover:opacity-100"
          >
            <ul class="flex flex-col shadow-lg rounded-lg p-4">
              <li
                class="p-2 cursor-pointer hover:text-blue-500 transition-colors font-bold flex items-center gap-2"
                (click)="toggleFilter($event, 'time')"
                
              >
                <i class="fas fa-clock"></i> < 30 mins
              </li>
              <li
                class="p-2 cursor-pointer hover:text-green-500 transition-colors font-bold flex items-center gap-2"
                (click)="toggleFilter($event, 'time')"
                
              >
                <i class="fas fa-clock"></i> 30 mins - 1 hour
              </li>
              <li
                class="p-2 cursor-pointer hover:text-yellow-500 transition-colors font-bold flex items-center gap-2"
                (click)="toggleFilter($event, 'time')"
                
              >
                <i class="fas fa-clock"></i> 1 - 2 hours
              </li>
              <li
                class="p-2 cursor-pointer hover:text-red-500 transition-colors font-bold flex items-center gap-2"
                (click)="toggleFilter($event, 'time')"
                
              >
                <i class="fas fa-clock"></i> > 2 hours
              </li>
            </ul>
          </div>
        </div>
      </li>
      }
    </ul>
  </div>
</div>
