<header class="flex flex-col-reverse md:flex-row font-sans">
  <div class="flex flex-col gap-10 items-start justify-evenly flex-1 p-8">
    <h1 class="text-4xl font-bold">Cooking delight</h1>
    <p class="max-w-[80ch] leading-6 font-medium">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis nisi quo
      quasi, maiores enim perferendis, eius illo cum itaque magni beatae
      impedit. Odio illum aut sit velit. Facilis, voluptatem velit!
    </p>

    <div class="flex rounded-full w-full">
      <div class="md:w-1/6 lg:w-[20%] shadow-md rounded-l-full flex items-center justify-center bg-white">
        <i class="fa-solid fa-magnifying-glass text-gray-600"></i>
      </div>
      <input
        class="border-2 border-gray-300 shadow-md rounded-r-full w-3/4 p-2 outline-none text-lg bg-gray-100 hover:bg-white focus:bg-white focus:border-green-500 hover:border-green-500 transition-colors"
        type="text"
        placeholder="Search..."
      />
    </div>
  </div>
  <div class="flex-1">
    <img src="assets/hero.jpg" alt="hero" />
  </div>
</header>
