<div class="container mx-auto p-6">
  <header class="text-center mb-12">
    <h1 class="text-4xl font-bold text-gray-800">Create a New Recipe</h1>
    <p class="text-lg text-gray-600 mt-4">
      Fill out the form below to add a new recipe.
    </p>
  </header>

  <div class="flex">
    <app-filter [sticky]="true">
      <app-category-filter
        (categorySelected)="onCategorySelected($event)"
      ></app-category-filter>
      <app-time-filter
        [radio]="true"
        (timeSelected)="onTimeSelected($event)"
      ></app-time-filter>
      <app-diffuculty-filter
        [radio]="true"
        (difficultySelected)="onDifficultySelected($event)"
      ></app-diffuculty-filter>
    </app-filter>
    <form
      [formGroup]="recipeForm"
      (ngSubmit)="onSubmit()"
      class="bg-white p-8 rounded-lg shadow-lg flex-1"
    >
      <div class="mb-6">
        <label for="title" class="block text-gray-700 text-sm font-bold mb-2"
          >Recipe Title</label
        >
        <input
          formControlName="title"
          id="title"
          type="text"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none border-transparent focus:border-green-500 transition-colors focus:shadow-outline"
          required
        />
      </div>

      <div class="mb-6">
        <label
          for="description"
          class="block text-gray-700 text-sm font-bold mb-2"
          >Description</label
        >
        <textarea
          formControlName="description"
          id="description"
          rows="3"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline border-transparent focus:border-green-500 transition-colors focus:shadow-outline"
          required
        ></textarea>
      </div>

      <div>
        @if (selectedCategories.length || difficulty.name || time.name) {
        <ul class="flex flex-col gap-5">
          <li>
            @if (selectedCategories.length > 0) {
            <ul class="flex flex-wrap gap-4 items-center">
              @for ( category of selectedCategories; track $index) {
              <li
                class="relative flex gap-2 items-center border-2 p-2 rounded-xl shadow-sm"
              >
                <i class="{{ category.icon }}"></i>
                <span>{{ category.name }}</span>
              </li>
              }
            </ul>
            }
          </li>

          @if (difficulty.name) {
          <li
            class="relative flex w-min gap-2 items-center border-2 p-2 rounded-xl shadow-sm"
          >
            <i class="{{ difficulty.icon }}"></i>
            <span>{{ difficulty.name }}</span>
          </li>
          } @if (time.name) {
          <li
            class="relative flex w-max gap-2 items-center border-2 p-2 rounded-xl shadow-sm"
          >
            <i class="{{ time.icon }}"></i>
            <span>{{ time.name }}</span>
          </li>
          }
        </ul>
        }
      </div>

      <div class="mb-6 mt-5">
        <label for="images" class="block text-gray-700 text-sm font-bold mb-2"
          >Upload Images</label
        >

        <app-upload-widget></app-upload-widget>
      </div>

      <div class="mb-6">
        <label
          for="ingredients"
          class="block text-gray-700 text-sm font-bold mb-2"
          >Ingredients</label
        >
        <!-- <textarea
          formControlName="ingredients"
          id="ingredients"
          rows="5"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline border-transparent focus:border-green-500 transition-colors focus:shadow-outline"
          placeholder="List each ingredient on a new line"
          required
        ></textarea> -->
        <app-text-widget [placeholder]="'List ingredients needed for your recipe here. Include quantities and specifics to guide others in recreating your dish.'" />
      </div>

      <div class="mb-6">
        <label
          for="instructions"
          class="block text-gray-700 text-sm font-bold mb-2"
          >Instructions</label
        >
        <!-- <textarea
          formControlName="instructions"
          id="instructions"
          rows="7"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline border-transparent focus:border-green-500 transition-colors focus:shadow-outline"
          placeholder="List each step on a new line"
          required
        ></textarea> -->
        <app-text-widget [placeholder]="'Enter preparation steps, cooking techniques, and any special instructions here. Be clear and concise to help others recreate your delicious recipe!'"/>
      </div>

      <div class="flex items-center justify-between">
        <button
          type="submit"
          class="bg-green-500 hover:bg-green-400 cursor-pointer text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition-colors"
          [disabled]="recipeForm.invalid"
        >
          Create Recipe
        </button>
      </div>
    </form>
  </div>
</div>
