<div class="page">
  <app-hero></app-hero>

  <div class="w-full p-4">
    <ul class="grid grid-rows-2 grid-cols-4 w-full md:flex justify-between shadow-lg rounded-lg p-4">
      <li
        class="p-2 w-max cursor-pointer hover:text-orange-500 transition-colors font-bold flex items-center gap-2"
      >
        <i class="fas fa-sun"></i> Breakfast
      </li>
      <li
        class="p-2 w-max cursor-pointer hover:text-yellow-500 transition-colors font-bold flex items-center gap-2"
      >
        <i class="fas fa-hamburger"></i> Lunch
      </li>
      <li
        class="p-2 w-max cursor-pointer hover:text-blue-500 transition-colors font-bold flex items-center gap-2"
      >
        <i class="fas fa-moon"></i> Dinner
      </li>
      <li
        class="p-2 w-max cursor-pointer hover:text-red-500 transition-colors font-bold flex items-center gap-2"
      >
        <i class="fas fa-utensils"></i> Soups & Stews
      </li>
      <li
        class="p-2 w-max cursor-pointer hover:text-green-500 transition-colors font-bold flex items-center gap-2"
      >
        <i class="fas fa-leaf"></i> Salads
      </li>
      <li
        class="p-2 w-max cursor-pointer hover:text-pink-500 transition-colors font-bold flex items-center gap-2"
      >
        <i class="fas fa-birthday-cake"></i> Desserts
      </li>
      <li
        class="p-2 w-max cursor-pointer hover:text-green-600 transition-colors font-bold flex items-center gap-2"
      >
        <i class="fas fa-seedling"></i> Vegan
      </li>
    </ul>
  </div>

  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 justify-items-center sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 mt-16">
      @for (i of [1,2,3,4,5,6,7,8,9,10]; track i) {
        <app-recepie-card ></app-recepie-card>
      }
    </div>
  </div>
</div>
