<div class="bg-white p-4 rounded-lg shadow">
    <h3 class="text-lg font-semibold mb-3 text-gray-800">Rating</h3>
    <ul class="space-y-2">
      <li class="flex items-center">
        <input type="checkbox" id="5-stars" class="mr-2">
        <label for="5-stars" class="text-yellow-400 flex cursor-pointer"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
      </li>
      <li class="flex items-center">
        <input type="checkbox" id="4-stars" class="mr-2">
        <label for="4-stars" class="text-yellow-400 flex cursor-pointer"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></label>
      </li>
      <li class="flex items-center">
        <input type="checkbox" id="3-stars" class="mr-2">
        <label for="3-stars" class="text-yellow-400 flex cursor-pointer"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></label>
      </li>
      <li class="flex items-center">
        <input type="checkbox" id="2-stars" class="mr-2">
        <label for="2-stars" class="text-yellow-400 flex cursor-pointer"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></label>
      </li>
      <li class="flex items-center">
        <input type="checkbox" id="1-star" class="mr-2">
        <label for="1-star" class="text-yellow-400 flex cursor-pointer"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></label>
      </li>
    </ul>
  </div>