<section class="page">
  <h1 class="text-3xl font-bold mb-6">Recipes</h1>

  <!-- Filter Component -->
  <div class="flex gap-10">
    <app-filter >
      <app-searchbar></app-searchbar>
      <app-category-filter></app-category-filter>
      <app-time-filter></app-time-filter>
      <app-diffuculty-filter></app-diffuculty-filter>
      <app-rating-filter></app-rating-filter>
      <app-likes-filter></app-likes-filter>
    </app-filter>

    <!-- Recipe Grid -->
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-6 mt-8"
    >
      <!-- Recipe Card Component -->
      @if (loading) { @for (item of counter; track item) {
      <app-home-skeleton />
      } } @else { @for (item of counter; track item) {
      <app-recepie-card />
      } }
    </div>
  </div>
</section>
