<button 
  (click)="gotoTop()" 
  [ngClass]="{'opacity-0': !isShow, 'opacity-100': isShow}"
  class="fixed bottom-4 right-4 bg-green-500 hover:bg-green-600 text-white w-12 h-12 rounded-full shadow-lg transition-opacity duration-300 ease-in-out focus:outline-none"
>
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
  </svg>
</button>